// bower:scss
// endbower
$base-counter-height: 180px;
$youtube-video-height: 315px;
$counter-height: $base-counter-height + $youtube-video-height;
$counter-width: 920px;
$footer-height: 62px;

body {
  background: #E9E9E9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url(../images/background.jpg);
}


// footer
html, body {
  height: 100%;
  // color: #25020F;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: $footer-height;
}
.site-footer {
  text-align: center;
}

// countdown
#months {
  color: #9E1E4C;
}
#days {
  color: #FF1168;
}
.centered {

    text-align: center;
    position : absolute;
    width    : $counter-width;
    height   : $counter-height;
    left     : 50%;
    top      : 42%;
    margin-left : -$counter-width / 2; /* half of the width  */
    margin-top  : -$counter-height / 2; /* half of the height */
    // text-shadow: 0.2px 0.2px 0.2px #000;

    #counter {
      // background-color:rgba(236,236,236,1);

      p {
        line-height: 1.8em;
        font-size: 28px;
      }
    }
}

// total counter
h3 {
  padding-top: 2em;
}
span.total-dramas {
  color: #251137;
}

// common styles
a:link {color: #25020F}
a:active {color: #25020F}
a:visited {color: #25020F}
a:hover {color: #25020F}

.past-dramas {
  text-align: left;
  line-height: 2em;
  ul, ol {padding: 0;}
}
